* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica;
}

body {
  background: rgb(25, 25, 25);
}

body {
  &.joined .keyboard {
    display: block;
  }
  &.input_focus .keyboard {
    display: none;
  }
}

#gamepad {
  width: 100%;
  height: 20em;
  position: relative;
  background: rgb(250, 250, 250);
}
/* Responsive overwrites */
@media screen and (max-width: 500px) {
  body {
    background: rgb(255, 255, 255);
  }
  #gamepad {
    width: 100%;
    height: 20%;
    position: relative;
    background: rgb(250, 250, 250);
  }
  #game {
    width: 100%;
    position: relative;
    img {
      height: 80%;
      /* reset to 100% in js upon load */
      width: 100%;
    }
    .keyboard {
      display: none;
    }
  }
  #chat {
    display: none;
  }
}

img {
  image-rendering: optimizeSpeed;
  /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;
  /* Firefox                        */
  image-rendering: -o-crisp-edges;
  /* Opera                          */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome (and eventually Safari) */
  image-rendering: pixelated;
  /* Chrome */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+                           */
}
